[Desktop Entry]
Name=LibreOffice Calc spreadsheet
Comment=Enter LibreOffice Calc filename:
Type=Link
URL=.source/soffice.ods
Icon=libreoffice-oasis-spreadsheet

