[Desktop Entry]
Name=LibreOffice Impress presentation
Comment=Enter LibreOffice Impress filename:
Type=Link
URL=.source/soffice.odp
Icon=libreoffice-oasis-presentation

