[Desktop Entry]
Name=LibreOffice Writer document
Comment=Enter LibreOffice Writer filename:
Type=Link
URL=.source/soffice.odt
Icon=libreoffice-oasis-text

