#
# File: .gitconfig
# Version: 0.1
# Author: BreadyX
#
# My main git configuration file
#

[user]
	name = BreadyX
	email = alex.bradatan85@yahoo.it
	signingkey = # TO BE FILLED
[gpg]
	program = gpg2
[core]
	editor = nvim
[status]
	showUntrackedFiles = all
[credential]
	helper = cache
[alias]
    stat = status
	unstage = reset HEAD --
	last = log -1 HEAD
