[submodule ".vim/pack/aestethics/start/lightline.vim"]
	path = .vim/pack/aestethics/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/pack/functionality/start/nerdtree"]
	path = .vim/pack/functionality/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/functionality/start/vim-surround"]
	path = .vim/pack/functionality/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/lint/start/ale"]
	path = .vim/pack/lint/start/ale
	url = https://github.com/w0rp/ale.git
