[submodule ".local/share/nvim/site/pack/lint-completion/start/ale"]
	path = .local/share/nvim/site/pack/lint-completion/start/ale
	url = https://github.com/w0rp/ale
[submodule ".local/share/nvim/site/pack/aesthetic/start/limelight.vim"]
	path = .local/share/nvim/site/pack/aesthetic/start/limelight.vim
	url = https://github.com/junegunn/limelight.vim.git
[submodule ".local/share/nvim/site/pack/aesthetic/start/goyo.vim"]
	path = .local/share/nvim/site/pack/aesthetic/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule ".local/share/nvim/site/pack/functionality/start/vim-surround"]
	path = .local/share/nvim/site/pack/functionality/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".local/share/nvim/site/pack/functionality/start/vim-latex-live-preview"]
	path = .local/share/nvim/site/pack/functionality/start/vim-latex-live-preview
	url = https://github.com/xuhdev/vim-latex-live-preview.git
