#
# File: .gitconfig
# Version: 04.2019.0
# Author: BreadyX
#
# My main git configuration file
#

[user]
	name = BreadyX
	email = alex.bradatan85@yahoo.it
	signingkey = F880DB5CE55EEBA2
[gpg]
	program = gpg2
[core]
	editor = nvim
[status]
	showUntrackedFiles = all
[credential]
	helper = cache
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
	add-all = add -A
	glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	prune = fetch --prune
	stash-all = stash push --include-untracked
