# Version: 28-11-18-1
[user]
	name = BreadyX
	email = alex.bradatan85@yahoo.it
	signingkey = F880DB5CE55EEBA2
[gpg]
	program = gpg2
[core]
	editor = vim
[status]
	showUntrackedFiles = all
[credential]
	helper = cache
[alias]
	unstage = reset HEAD --
	las = log -1 HEAD
	add-all = add -A
	glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	prune = fetch --prune
	stash-all = stash push --include-untracked
[diff]
	tool = kdiff3
	guitool = kdiff3
[difftool "kdiff3"]
	trustExitCode = false
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	trustExitCode = false
	followTags = true
