for_window [floating] border pixel 2
for_window [app_id="firefox" title="Picture-in-Picture"] floating enable, sticky enable, border pixel 2
for_window [app_id="firefox" title="Firefox — Sharing Indicator"] floating enable, sticky enable

# vim: set ft=swayconfig:
