/* shrink ssd titlebars */
.default-decoration {
    min-height: 0; /* let the entry and button drive the titlebar size */
    padding: 0px;
}

window.ssd headerbar.titlebar {
    padding: 1px;
    min-height: 0;
}
