extends tex

snippet bf "Create bold text"
\\textbf\{$1}\} $0
endsnippet

snippet it "Create italic text"
\\textit\{$1\} $0
endsnippet

snippet tt "Create monospaced text"
\\texttt\{$1\} $0
endsnippet

snippet hl "Create highlighted text"
\\hl\{$1\} $0
endsnippet
