@import "mocha.css";

window.top {
  font-size: 12px;
  font-family: "Victor Mono Semibold", "FontAwesome 6 free";

  background: @base;
  color: @text;
}

tooltip {
  background: @base;
}

tooltip label {
  color: @text;
}

#workspaces {
  border-radius: 5px;
  background-color: @surface0;
  padding: 0;
  margin: 3px 5px 3px 5px;
}

#workspaces button {
  color: @lavender;
  border-radius: 5px;
  margin: 0;
  padding: 0 0.5em;
}

#workspaces button:hover {
  background: @overlay0;
  color: @sky;
  border-radius: 5px;
  box-shadow: inherit;
  text-shadow: inherit;
}

#custom-media,
#custom-power,
#tray,
#scratchpad,
#backlight,
#custom-clock,
#clock,
#battery,
#pulseaudio,
#bluetooth,
#custom-dnd,
#network,
#idle_inhibitor {
  background-color: @surface0;
  padding: 0 7px;
  border-radius: 5px;
  margin: 3px 0;
}

#custom-media {
  margin-right: 5px;
}

#battery {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 5px;
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @yellow;
}

#battery.critical:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
  padding-left: 7px;
  padding-right: 7px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-left: 5px;
}

#tray {
  padding-right: 3px;
  padding-left: 3px;
  margin-left: 5px;
}

#scratchpad {
  margin-left: 5px;
}

#custom-clock, #clock {
  color: @mauve;
  margin-left: 5px;
}

#bluetooth {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 7px;
  padding-right: 7px;
}

#bluetooth.connected,
#bluetooth.on {
  color: @blue;
}

#network {
  padding-left: 7px;
  padding-right: 7px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 5px;
}

#network.disconnected,
#network.disabled {
  color: @subtext0;
}

#network.linked {
  color: @red;
}

#network.ethernet {
  color: @peach;
}

#network.wifi {
  color: @blue;
}

#pulseaudio {
  color: @maroon;
  margin-left: 5px;
}

#idle_inhibitor {
  color: @text;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0;
  padding-right: 7px;
  padding-left: 7px;
}

#idle_inhibitor.activated {
  color: @mauve;
}

#custom-dnd {
  color: @text;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 5px;
  padding-right: 7px;
  padding-left: 7px;
}

#custom-media {
  color: @mauve;
}

/* --- Bottom OSD bar --- */
window.bottom {
  font-size: 20px;
  font-family: "Victor Mono Semibold", "FontAwesome 6 free";

  background: transparent;
  color: @text;
}

#mode {
  color: @mauve;
  background: @surface0;
  padding: 15px;
  border-radius: 5px;
  border: solid 3px @surface1;
}

