@import "mocha.css";

* {
  font-family: "Victor Mono", "FontAwesome 6 free", monospace;
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: @base;
  color: @text;
}

tooltip {
  background: @base;
}

tooltip label {
  color: @text;
}

#workspaces {
  border-radius: 1rem;
  background-color: @surface0;
  padding: 0;
  margin: 2px 5px 2px 2px;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  margin: 0;
  padding: 0 0.5em;
}

#workspaces button:hover {
  background: @overlay0;
  color: @sapphire;
  border-radius: 1rem;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#mode {
  color: @red;
  background: @surface0;
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  margin: 5px 5px;
  margin-left: 0;
}

#scratchpad {
  margin-left: 5px;
  margin-right: 5px;
}

#custom-media,
#custom-power,
#tray,
#backlight,
#custom-clock,
#battery,
#pulseaudio,
#custom-bluetooth,
#custom-wifi,
#custom-dnd,
#network,
#idle_inhibitor {
  background-color: @surface0;
  padding: 0.1rem 7px;
  border-radius: 7px;
  margin: 5px 0;
}

#custom-media {
  margin-right: 5px;
}

#custom-power {
  margin-right: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-right: 7px;
  padding-left: 7px;
  color: @red;
}

#battery {
  border-radius: 0;
  padding-left: 7px;
  padding-right: 7px;
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @yellow;
}

#battery.critical:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
  border-radius: 0;
  padding-left: 7px;
  padding-right: 7px;
}

#tray {
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 5px;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#custom-clock {
  color: @blue;
  margin-left: 5px;
}

#custom-wifi {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 7px;
  padding-right: 7px;
}

#custom-wifi.activated {
  color: @peach;
}

#custom-bluetooth {
  border-radius: 0;
  padding-left: 7px;
  padding-right: 7px;
}

#custom-bluetooth.connected,
#custom-bluetooth.activated {
  color: @blue;
}

#network {
  color: @sky;
  padding-left: 7px;
  padding-right: 7px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 5px;
}

#pulseaudio {
  color: @maroon;
  margin-left: 5px;
}

#idle_inhibitor {
  color: @text;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0;
  padding-right: 7px;
  padding-left: 7px;
}

#idle_inhibitor.activated {
  color: @mauve;
}

#custom-dnd {
  color: @text;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 5px;
  padding-right: 7px;
  padding-left: 7px;
}

#custom-media {
  color: @mauve;
}

