extends tex

snippet bold "Create bold text"
\\textbf\{${VISUAL}\}
endsnippet

snippet italics "Create italic text"
\\textit\{${VISUAL}\}
endsnippet

snippet monospace "Create monospaced text"
\\texttt\{${VISUAL}\}
endsnippet

snippet highlight "Create highlighted text"
\\hl\{${VISUAL}\}
endsnippet
