extends markdown

snippet h1 "Level 1 header"
# $0
endsnippet

snippet h2 "Level 2 header"
## $0
endsnippet

snippet h3 "Level 3 header"
### $0
endsnippet

snippet h4 "Level 4 header"
#### $0
endsnippet

snippet h5 "Level 5 header"
##### $0
endsnippet

snippet h6 "Level 6 header"
###### $0
endsnippet

snippet code "Code block"
\`\`\`$1
$0
\`\`\`
endsnippet

snippet img "Image"
![$1]($2)
endsnippet

snippet link "Link"
[$1]($2)
endsnippet

