#
# File: .gitconfig
# Version: 22.02.0
# Author: BreadyX
#

[user]
	name = Alexandru Gabriel Bradatan
	email = alexandrugabriel.bradatan@mail.polimi.it
	signingkey =
[gpg]
	program = gpg
[core]
	editor = nvim
[status]
	showUntrackedFiles = all
[credential]
	helper = cache
[pull]
	rebase = false
[alias]
	slog = log --oneline
	gslog = log --oneline --branches --graph
	c = commit
	co = checkout
	br = branch
	cp = cherry-pick
	pushfl = push --force-with-lease
[commit]
	gpgSign = true
[init]
	defaultBranch = main
