#
# File: .gitconfig
# Version: 20.01.0
# Author: BreadyX
#

[user]
	name = BreadyX
	email = alex.bradatan85@yahoo.it
	signingkey =
[gpg]
	program = gpg
[core]
	editor = nvim
[status]
	showUntrackedFiles = all
[credential]
	helper = cache
