#
# File: .gitconfig
# Version: 21.02.0
# Author: BreadyX
#

[user]
	name = BreadyX
	email = alex.bradatan85@yahoo.it
	signingkey = 1B544E3584D1BE3B
[gpg]
	program = gpg
[core]
	editor = nvim
[status]
	showUntrackedFiles = all
[credential]
	helper = cache
[pull]
	rebase = false
[alias]
	slog = log --oneline
	c = commit
	co = checkout
	br = branch
	cp = cherry-pick
	pushfl = push --force-with-lease

